.container {
	position: relative;
	width: 70%;
	margin: 0 auto;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
 	margin-right: auto;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #CAD3C8;
	border-style: solid;
	border-radius: 1px;
	border-color: #EAB543;
}

.container:hover .overlay {
	opacity: 1;
}

.text {
	font-family: 'Rubik Mono One';
	position: absolute;
    font-size: 40px;
    text-decoration: overline;
    text-align: center;
    color: #d63031;
    text-shadow: 10px 3px #2C3A47;
    top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
}

@media (max-width:1014px) {
	.container {
		width: 95%;
	}